body {
    background-color: #0a0e27;
    color: #ffffff;
    font-family: 'Public Sans', sans-serif;
    padding: 20px;
    line-height: 1.6;
}

a {
    color: #a0a0a0;
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
    color: #e74c3c;
    cursor: grabbing;
}

h1 {
    font-size: 4em;
    color: #3a86ff;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 2.5em;
    color: #ffbe0b;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: #a0a0a0;
    margin-bottom: 10px;
}

li {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

.project-card-hardware {
    background: linear-gradient(to right, #0d3e8c, #3a86ff);
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    outline: auto 1px #253753;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 200px;
}

.project-card-cad {
    background-color: #873b33ce;
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    outline: auto 1px #cb340a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 200px;
}

.project-card-software {
    background-color: #67b36b;
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    outline: auto 1px #12da76;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 200px;
}

#Hardware {
    color: #79a3e6;
    font-size: 3em;
}

#CAD {
    color: #e88350;
    font-size: 3em;
}

#Software {
    color: #1e6d30;
    font-size: 3em;
}
